.clip-copy {
  position: relative;
}

.clip-copy::after {
  content: '';
  font-size: 0.8rem;
  position: absolute;
  top: -1.2rem;
  left: 0;
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

.clip-copy.success::after,
.clip-copy.error::after {
  content: attr(data-message);
  opacity: 1;
}

.clip-copy.success::after {
  color: var(--success-color);
  padding: 1px 6px 2px ;
  border: 1px solid var(--success-color);
  border-radius: 4px;
  background: #fff;
}

.clip-copy.error::after {
  color: var(--error-color);
}
